{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static  "stylesheets/style.css" %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="head">
           <h1> Investigation Department</h1>
        </div>

    <div class="module"> <h1>Cases</h1><br>
       <a href="/c" <button type="button">File a Complaint</button></a><br><br><br>
       <a href="/p"<button type="button">Pending Cases</button></a><br><br><br>
       <a href="/s"<button type="button">Solved Cases</button></a>
    </div>
    <div class="module"><h1>Officers</h1><br>
        <a href="/t1" <button type="button">Team1</button></a><br><br><br>
       <a href="/t2"<button type="button">Team2</button></a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2><u>Disclaimer</u></h2><br>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam fuga in saepe totam quaerat aperiam ipsum nisi similique officia atque voluptate est ut explicabo, recusandae harum quas assumenda expedita fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta corporis assumenda placeat, alias facere, perferendis magnam numquam unde sint ratione aperiam commodi! Labore, iste non dolorem debitis fuga distinctio quam!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ad maiores expedita exercitationem. Consequatur iste maiores, nisi repellat rem distinctio, numquam ullam eum maxime vitae modi odit et amet assumenda!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, a ratione voluptates impedit nulla quia ipsum itaque, quis, cum ipsam sunt et. Molestias earum hic eius at nulla magnam quo.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam eum vero dolor eaque. Mollitia dicta exercitationem, repudiandae dignissimos reiciendis, magni harum provident quae laborum natus, dolores voluptatum tempora vel porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellat ut, rem provident repellendus et quisquam accusamus amet, consectetur ad, culpa a tempore. Deleniti veritatis quisquam soluta. Voluptates, quidem officiis!
    </p>
</body>
</html>