*{
    margin: 0;
    padding: 0;
}

#head.h1{
    color: white;
}


.module{
    border: 1px solid rgb(93, 87, 87);
    width: 30%;
    height: 300px;
    float: left;
    margin: 20px;
    text-align: center;
    margin-left:13%;
}