*{
    margin: 0;
    padding: 0;
}
.module{
    border: 1px solid rgb(93, 87, 87);
    width: 30%;
    height: 300px;
    float: left;
    margin: 20px;
    text-align: center;
    margin-left:13%;
}

.module h1{
    color: white;
    background-color: teal;
}

.left-module{
    text-decoration: none;
    color: black;
}

.right-module{
    text-decoration: none;
    color: black;
}

.head h1{
    color: white;
    text-align: center;
    background-color:teal;
}

.ac a{
    text-decoration: none;
    margin-left: 95vb;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;

}
.ac{
    text-decoration: none;
    margin-left: 95vb;
}